body {
    background-color: rgb(43, 43, 44);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    color: #dadada;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 43, 44);
    position: fixed;
    top: 0;
    width: 100%;

}
li {
    color: #dadada;
    float: left;

}

li a {
    color: #dadada;
    display: inline-block;
    padding: 14px 16px;
     text-decoration: none;

}
li a:hover:not(.active) {
    background-color: #232121;
    border-bottom: 1px solid #33b5e5;

}

details {
    border: 1px solid #33b5e5;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    color: #dadada;
    padding-bottom: 10px;

    }

summary {
    transition: 0.15s padding ease-out, 0.15s margin ease-out, 0.15s border ease-out;
}
summary:hover:not(.active) {
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
    transition: 0.15s padding ease-out, 0.15s margin ease-out, 0.15s border ease-out;
}
details[open] {
    padding: 0.5em;
}

details[open] summary {
    margin-bottom: 0.5em;
}