<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel= "stylesheet" type= "text/css" href= "/css/style.css">
</head>
<body style="background-color: rgba(35,32,32,0.91)">

<a style="color: white" href="/">Загрузить файл</a>


<div style="padding-top: 10px">
<details>
    <summary> Нагрузка на ЦПУ по процессам</summary>
   <div style="height:40vh; width:100%; padding-top: 50px">
  <canvas id="cpu"></canvas>
</div>
</details>
</div>


<div style="padding-top: 10px">
<details>
    <summary> Потребление ОЗУ по процессам</summary>
     <div style=" height:40vh; width:100%;  padding-top: 50px">
        <canvas id="mem"></canvas>
    </div>
</details>
</div>


<div style="padding-top: 10px">
<details>
    <summary> Утилизация диска по процессам</summary>
     <div style=" height:40vh; width:100%;  padding-top: 50px">
        <canvas id="dsk"></canvas>
    </div>
</details>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // CPU
  cpu = {{ json_dump_cpu | tojson }};
  waf_nginx_cpu = JSON.parse({{ waf_nginx_cpu | tojson }});
  const elem = document.getElementById('cpu');
  new Chart(elem, {
    type: 'line',
    data: {
      labels: cpu[0].map(row => row.date),
      datasets: [{
        label: 'Elascicsearch (%)',
        data: cpu[0].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5
      },
      {
        label: 'Mongo (%)',
        data: cpu[1].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'correlator (%)',
        data: cpu[3].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'wafd (%)',
        data: cpu[3].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'wafgowaf (%)',
        data: cpu[4].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'celery (%)',
        data: cpu[5].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'rabbitmq (%)',
        data: cpu[6].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'freshclam (%)',
        data: cpu[7].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'waf-sync (%)',
        data: cpu[9].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'nginx workers (%)',
        data: waf_nginx_cpu,
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5,
        parsing: {
        xAxisKey: 'date',
        yAxisKey: 'count'
    }
    }
      ]
    },
  options: {
        responsive: true,
        maintainAspectRatio: false,
      scales: {

         x:{
            ticks:
                {
                    color: "#ffffff"
                }
        },
        y: {
            ticks:
                {
                    color: "#ffffff"
                },

          suggestedMax: 100,
          beginAtZero: true

        }
      }
    }
  });


  //memory
  mem = {{ json_dump_mem | tojson }};
  waf_nginx_mem = JSON.parse({{ waf_nginx_mem | tojson }});
  const elem2 = document.getElementById('mem');
  new Chart(elem2, {
    type: 'line',
    data: {
      labels: mem[0].map(row => row.date),
      datasets: [{
        label: 'Elascicsearch (%)',
        data: mem[0].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5
      },
      {
        label: 'Mongo (%)',
        data: mem[1].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'correlator (%)',
        data: mem[3].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'wafd (%)',
        data: mem[3].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'wafgowaf (%)',
        data: mem[4].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'celery (%)',
        data: mem[5].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'rabbitmq (%)',
        data: mem[6].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'freshclam (%)',
        data: mem[7].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'waf-sync (%)',
        data: mem[9].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'nginx workers (%)',
        data: waf_nginx_mem,
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5,
        parsing: {
        xAxisKey: 'date',
        yAxisKey: 'count'
    }
    }
      ]
    },
  options: {
        responsive: true,
        maintainAspectRatio: false,
      scales: {

         x:{
            ticks:
                {
                    color: "#ffffff"
                }
        },
        y: {
            ticks:
                {
                    color: "#ffffff"
                },

          suggestedMax: 100,
          beginAtZero: true

        }
      }
    }
  });

//disk
  dsk = {{ json_dump_dsk | tojson }};
  waf_nginx_dsk = JSON.parse({{ waf_nginx_dsk | tojson }});
  const elem3 = document.getElementById('dsk');
  new Chart(elem3, {
    type: 'line',
    data: {
      labels: dsk[0].map(row => row.date),
      datasets: [{
        label: 'Elascicsearch (%)',
        data: cpu[0].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5
      },
      {
        label: 'Mongo (%)',
        data: dsk[1].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'correlator (%)',
        data: dsk[3].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'wafd (%)',
        data: dsk[3].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'wafgowaf (%)',
        data: dsk[4].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'celery (%)',
        data: dsk[5].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'rabbitmq (%)',
        data: dsk[6].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'freshclam (%)',
        data: dsk[7].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'waf-sync (%)',
        data: dsk[9].map(row => row.count),
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5

      },
      {
        label: 'nginx workers (%)',
        data: waf_nginx_dsk,
        borderWidth: 1,
        tension: 0.1,
        pointRadius: 1.5,
        parsing: {
        xAxisKey: 'date',
        yAxisKey: 'count'
    }
    }
      ]
    },
  options: {
        responsive: true,
        maintainAspectRatio: false,
      scales: {

         x:{
            ticks:
                {
                    color: "#ffffff"
                }
        },
        y: {
            ticks:
                {
                    color: "#ffffff"
                },

          suggestedMax: 100,
          beginAtZero: true

        }
      }
    }
  });
</script>



</body>
</html>