<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel= "stylesheet" type= "text/css" href= "/css/style.css">

  <ul>
    <li><a href="/">Загрузить файл</a></li>
    <li><a href="/list">Список файлов</a></li>
    <li style="float: right; font-size: 12px; padding: 8px;">Atop Logs Parser v0.6</li>
</ul>
</head>
<body>

<table>
<th>Name:
{% for item in dir_list %}
<tr>
 <td>
     <a href="/chart?fname={{item}}">{{item}}</a>
 </td>
</tr>
{% endfor %}
    </th>
</table>



